<div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
  <div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="card bg-secondary shadow border-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <h6>Recuperar senha</h6>
            </div>
            <form (validSubmit)="onSubmit()" role="form" [formGroup]="form">
              <div class="form-group mb-3" [customErrorMessages]="customErrorMessagesEmail">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input formControlName="email" class="form-control" placeholder="Digite seu e-mail" type="email">
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary my-4">Recuperar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>