.form-group.has-error {
    .input-group {
        border: 1px solid #fa6340;
    }
    i {
        color: #fa6340
    }
}

.alert .alert-inner--text {
    display: inline;
}

.alert .alert-inner--icon {
    margin-right: 0.25rem;
}

.main-container-login {
    height: 100vh;

    .section-shaped {
        height: 100vh;
    }
}