html, body {
    height: 100%;
}


.form-group.has-error {
    .input-group {
        border: 1px solid #fa6340;
    }
    i {
        color: #fa6340
    }
}

.alert .alert-inner--text {
    display: inline;
}

.alert .alert-inner--icon {
    margin-right: 0.25rem;
}



.alert.alert-info, .alert.alert-warning {
    a {
        color: white;
        font-weight: bold;
        text-decoration: underline;
    }
}